/* Grid Layout y sus componentes */

.gridlayout {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;


}

.gridheader {
    grid-column: 1 / span 5;
    background-color: #212529;
    text-align: center;
}

.gridsection1,
.gridsection11 {
    grid-row: 2;
    background-color: #1a1d20;
    padding-bottom: 20px;
}

.gridsection2,
.gridsection22,
.gridsection222 {
    background-color: #343a41;
    
}
.gridsection2{
    grid-row: 3/4;
}
.gridsection22{
    grid-row: 4/5;
}



.gridsection3{
    grid-row: 5/6;
}
.gridsection33{
    grid-row: 6/7;
}




.gridsection3,
.gridsection33,
.gridsection333 {
    background-color: #3b4147;
    

}

@mixin gridsectionstyle {
    grid-column: 1;
    border: thin black;
    text-align: justify;
}

.gridsection1,
.gridsection2,
.gridsection3 {
    @include gridsectionstyle;
}

.gridfooter {
    text-align: center;
    font-size: 12px;
    padding: 10px;
    font-family: 'Poppins';
    grid-column: 1 / span 3;
    background-color: #212529;
    color: white;
}