@import "generales";
@import "nav";
@import "grid";


li {
    font-size: 16px;
    font-family: 'Poppins';
    white-space: normal;
    margin: 20px 20px;
    margin-bottom: 20px;
    line-height: 30px;
    max-inline-size: 3000px;
    max-width: 70%;
    color: aliceblue;
}

p {
    font-weight: normal;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 20px;
    margin: 10px 10px;
    padding: 10px;
    color: whitesmoke;
    text-indent: 10px;
    max-inline-size: 3000px;
    max-width: 70%;
}

img {
    height: auto;
    max-block-size: 500px;
    max-width: 1200px;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    border-radius: 30px;
    max-width: 80%;
    padding: 30px 30px 30px 30px;
}

img:hover {
    transform: translate(3px 3px);
    transform: scale(1.2, 1.2);
}

h1 {
    margin: 20px 20px 20px 20px;
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 20px;
    color: white;
    padding: 15px;
    border: groove plum;
    width: fit-content;
    border-radius: 50px;
    max-width: 70%;
    background-color: rgb(73, 73, 133);
}

h2 {
    margin: 10px 10px 10px 10px;
    font-family: 'Poppins';
    font-size: 20px;
    color: deepskyblue;
}

h3 {
    margin: 20px 20px 20px 20px;
    font-family: 'Poppins';
    font-size: 20px;
    border: groove 5px;
    border-radius: 15px;
    padding: 10px;
    width: fit-content;
    color: whitesmoke;
    background-color: darkslateblue;
}

h4 {
    margin: 20px 20px 20px 20px;
    font-family: 'Poppins';
    font-size: 20px;
    text-decoration-line: underline;
    color: deeppink;
}

.sitetitle {
    letter-spacing: 10px;
    word-spacing: 5px;
    color: antiquewhite;
    background-color: inherit;
    text-transform: capitalize;
    font-weight: bolder;
    width: auto;
    border: none;
    font-size: 40px;
    max-width: 100%;
    background-image: linear-gradient(blueviolet, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sitesubtitle {
    color: deepskyblue;
    text-transform: capitalize;
    font-weight: bold;
    width: auto;
    border: none;
    font-size: 20px;
    max-width: 100%;
    word-spacing: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(deepskyblue, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.click {
    text-align: center;
    font-weight: bolder;
    background: darkgrey;
    color: black;
    width: 40%;
    cursor: pointer;
    transition: all 2s;
}

.click:focus {
    background: rgb(49, 15, 49);
    color: white;
    outline-style: solid;
}

/* Pseudoclases */
a:link {
    color: lightblue;
}

a:hover {
    font-weight: bolder;
    color: lightblue;
}

a:active {
    color: darkslateblue;
}

a:visited {
    color: violet;
}


/* Media Queries */
@media screen and (max-width: 600px) {

    li,
    p {
        font-size: smaller;
        line-height: smaller;
    }

    footer {
        font-size: 10px;
    }
}

@media screen and (min-width: 768px) {
    p {
        line-height: normal;
    }
}

@media screen and (min-width: 1024px) {
    .gridlayout {
        grid-template-columns: 20% auto 20%;
    }

    p,
    li {
        line-height: 40px;
        word-spacing: 2px;
    }

    .gridsection1,
    .gridsection2,
    .gridsection3 {
        grid-column: 2;
    }

    .gridsection11,
    .gridsection22,
    .gridsection33 {
        grid-column: 1/4;
    }
}