@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

header {
  font-family: "Poppins";
  padding-bottom: 5px;
  text-align: justify;
}
header nav {
  width: 100%;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
}
header nav ul li {
  list-style-type: unset;
  text-transform: none;
}
header nav ul li a {
  text-decoration: none;
}

/* Grid Layout y sus componentes */
.gridlayout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto;
}

.gridheader {
  grid-column: 1/span 3;
  background-color: #212529;
  text-align: center;
}

.gridsection1,
.gridsection11 {
  grid-row: 2;
  background-color: #1a1d20;
  padding-bottom: 20px;
}

.gridsection2,
.gridsection22 {
  grid-row: 3;
  background-color: #343a41;
}

.gridsection3,
.gridsection33 {
  grid-row: 4;
  background-color: #3b4147;
}

.gridsection1,
.gridsection2,
.gridsection3 {
  grid-column: 1;
  border: thin black;
  text-align: justify;
}

.gridfooter {
  text-align: center;
  font-size: 12px;
  padding: 10px;
  font-family: "Poppins";
  grid-column: 1/span 3;
  background-color: #212529;
  color: white;
}

li {
  font-size: 16px;
  font-family: "Poppins";
  white-space: normal;
  margin: 20px 20px;
  margin-bottom: 20px;
  line-height: 30px;
  max-inline-size: 3000px;
  max-width: 70%;
  color: aliceblue;
}

p {
  font-weight: normal;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 20px;
  margin: 10px 10px;
  padding: 10px;
  color: whitesmoke;
  text-indent: 10px;
  max-inline-size: 3000px;
  max-width: 70%;
}

img {
  height: auto;
  max-block-size: 400px;
  padding: 20px 20px 20px 20px;
  border-radius: 40px;
  max-width: 105%;
  display: inline-block;
  position: relative;
}

.nav-item {
  font-size: smaller;
}

.websitelogo {
  max-width: 250px;
  max-height: 250px;
  border-radius: 20px;
}

img:hover {
  transform: translate(3px 3px);
  transform: scale(1.2, 1.2);
}

h1 {
  margin: 20px 20px 20px 20px;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 15px;
  font-weight: lighter;
  border: groove plum;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  background-color: rgb(73, 73, 133);
}

h2 {
  margin: 10px 10px 10px 10px;
  font-family: "Poppins";
  font-size: 20px;
  color: deepskyblue;
}

h3 {
  margin: 20px 20px 20px 20px;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 15px;
  font-weight: lighter;
  border: groove whitesmoke;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  background-color: darkslategrey;
}

h4 {
  margin: 20px 20px 20px 20px;
  font-family: "Poppins";
  font-size: 20px;
  text-decoration-line: underline;
  color: cornflowerblue;
}

.sitetitle {
  border-style: none;
  background: none;
}

.click {
  text-align: center;
  font-weight: bolder;
  background: darkgrey;
  color: black;
  width: 40%;
  cursor: pointer;
  transition: all 2s;
}

.click:focus {
  background: rgb(49, 15, 49);
  color: white;
  outline-style: solid;
}

/* Pseudoclases */
a:link {
  color: lightblue;
}

a:hover {
  font-weight: bolder;
  color: lightblue;
}

a:active {
  color: darkslateblue;
}

a:visited {
  color: antiquewhite;
}

.nav-link active {
  font-size: x-large;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  li,
  h1,
  h2,
  h3,
  h4,
  p {
    font-size: smaller;
    line-height: smaller;
  }
  footer {
    font-size: 10px;
  }
}
@media screen and (min-width: 768px) {
  p {
    line-height: normal;
  }
}
@media screen and (min-width: 1024px) {
  .gridlayout {
    grid-template-columns: 20% auto 20%;
  }
  p,
  li {
    line-height: 40px;
    word-spacing: 2px;
  }
  .gridsection1,
  .gridsection2,
  .gridsection3 {
    grid-column: 2;
  }
  .gridsection11,
  .gridsection22,
  .gridsection33 {
    grid-column: 1/4;
  }
  .nav-item {
    font-size: medium;
  }
}/*# sourceMappingURL=sass.css.map */